@use '../../variable' as v;

.app__footer {
  flex: 1;
  width: 100%;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.app__footer-cards {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin: 4rem 2rem 2rem;
  gap: 2rem;

  .app__footer-card {
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fef4f5;
    transition: v.$transition;

    img {
      width: 40px;
      height: 40px;
      margin: 0 0.7rem;
    }

    p {
      font-weight: 600;
    }

    a {
      text-decoration: none;
      font-weight: 500;
    }

    &:hover {
      box-shadow: 0 0 25px #fef4f5;
    }

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 820px) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.app__footer-cards .app__footer-card:last-child {
  background-color: #f2f7fb;
}

.app__footer-form {
  width: 60%;
  flex-direction: column;
  margin: 1rem 2rem;

  div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: v.$primary-color;
    transition: v.$transition;

    input,
    textarea {
      width: 100%;
      padding: 0.95rem;
      border: none;
      outline: none;
      border-radius: 7px;
      background-color: v.$primary-color;
      font-family: v.$font-base;
      color: v.$secondary-color;
    }

    textarea {
      height: 170px;
    }

    &:hover {
      box-shadow: 0 0 25px v.$primary-color;
    }
  }

  button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 500;
    background-color: v.$secondary-color;
    color: v.$white-color;
    margin-top: 2rem;
    font-family: v.$font-base;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 1rem 0;
  }
}
